<div ng-include="'partials/navbar.html'"></div>
<div class="agendaTitleDiv" ng-repeat="agenda in agendas">
	<div ng-if="$index==ind">
<div class="agendaTitle">
<div ng-hide="$index==0" class="glyphicon glyphicon-chevron-left" ng-click="getPreviousDate($index)"></div>
	{{agenda.title}}
<div ng-hide="$index==agendas.length-1" class="glyphicon glyphicon-chevron-right" ng-click="getNextDate($index)"></div>
</div>

<div class="borderDiv"></div>

<div class="agendaDiv"  ng-repeat="row in agenda.data" ng-controller="SpeakerCtrl">
	<div class="agendaSmallDiv">
		<div class="agendaSessionTime">{{row.time}}</div>
		
		<div class="agendaSessionTitle">{{row.session}}</div>
		
		
		<div class="agendaSpeakerName">{{row.speaker}}</div>
		<div class="com" ng-if="row.speaker!=null && row.speakerTitle!=null">,</div>
		<div class="agendaSpeakerTitle">{{row.speakerTitle}}</div>
		
		<div class="content" ng-if="class_toggle[$index]">{{row.detail}}</div>
		<div class="default_content" ng-if="!class_toggle[$index]">{{row.detail}}</div>
		<div style="width:90px;padding-top:2%;padding-left:0">
			<a ng-model="check" ng-click="check_expand($index)">
				<div  ng-if="toggle[$index]">
					<span style="font-size:16px">See less</span><div class="glyphicon glyphicon-chevron-down"></div>
				</div>
				<div style="padding-top:2%" ng-if="!toggle[$index]">
					<span style="font-size:16px">See more</span><div class="glyphicon glyphicon-chevron-left" ></div>
				</div>
			</a>
		</div>	

	</div>
	<div class="borderDiv"></div>
</div>
</div>
</div>