<div ng-include="'partials/navbar.html'"></div>
<div class="aMain headerMargin loading" ng-class="{loaded:loads=='loaded'}" style="height:{{deviceHeight}}px">
<div class="aHead">
<img id="aHeadLeftIcon" src="img/icons/back-arrow.png" 
	ng-click="showAgenda(index)"/>
<div class="aHeadText font_color4">{{row.session}}</div>
</div>
<div class="aBody">
 	<div class="aBodyUpper">
		<div class="DateTime" 
		ng-if="agenda.title!=null || 'row.startTime!=null && row.endTime!=null' ||  row.venue!=null">
			<div class="aText2 font_color3">DATE & TIME</div>
				<div class="DTText" ng-if="agenda.title!=null">
					<div id="aIcon" class="glyphicon glyphicon-calendar font_color2"></div>
						<div class="aText">
						{{agenda.title.day}}, {{agenda.title.date}} {{agenda.title.month}} {{agenda.title.year}}
						</div>
					</div>
				<div class="DTText" ng-if="row.startTime!=null && row.Time!=null;">
					<div id="aIcon" class="glyphicon glyphicon-time font_color2"></div>
					<div class="aText">{{row.Time}}</div>
				</div>
				<div  class="DTText" ng-if="row.venue!=null">
					<div id="aIcon" class="glyphicon glyphicon-map-marker font_color2"></div>
					<div class="aText">{{row.venue}}</div>
				</div>
			</div>
		<div class="Speaker" ng-if="row.speaker!=null">
			<div class="aText4 font_color3">SPEAKER</div>
			<div class="ImageDiv" ng-if="row.speakerPic!=null" 
			ng-click="showSpeakerDetails(row.speaker)">
			<img src="img/speakers/{{row.speakerPic}}"  class="aImage"/>
			<div class="aImageText" ng-if="row.speaker!=null || rpw.speakerTitle!=null">
				<div>{{row.speaker}}</div>
				
			</div>
			</div>
		</div>
	</div>
	<div class="aBodyLower" ng-if="row.detail!=null">
		<div class="aText2 font_color3">DESCRIPTION</div>
		<div class="aText3" ng-bind-html="row.detail"></div>
	</div>
</div>
</div>
<div ng-include="'partials/footer.html'"></div>