<div class="secondPage loading" ng-class="{loaded:loads=='loaded'}" style="height:{{deviceHeight}}px !important">  	
	<div class="secondPageLogoDiv">
  	<img src="img/icons/New-Logo.png" class="secondPageIconLogo">
  </div>
  <div class="secondPageDiv container">
  	<div class="secondPageArrowDiv"><img class="secondPageArrow" src="img/icons/arrow.png" ></img></div>
  	<div class="secondPageText2" >
  		<div>{{confvenue.events}}</div> 
  		<div>{{confvenue.venue}},{{confvenue.date}}</div> 		
  	</div>
  	<div class="lineSpace"></div>
  	<div class="lineSpace"></div>
    <div class="gridOneUp">
      <div class="gridOne1Up"></div>
      <div class="gridOne2Up"></div>
    </div>
    <div class="gridOne">
      <a href="#/overview">      
        <div class="gridOne1">
          <img src="img/icons/overview-large.png" class="secondPageIconOverview"></img>
          <div class="secondPageText3">Overview</div>
        </div>
  	  </a>
    	<a href="#/speakers">
        <div class="gridOne2">
    			<img src="img/icons/speakers-large.png" class="secondPageIconSpeakers"></img>
    			<div class="secondPageText3">Speakers</div>
    		</div>
    	</a>
    </div>
  	
    <div class="gridTwo">
    	<a href="#/agenda">
        <div class="gridTwo1">
        	<img src="img/icons/agenda-large.png" class="secondPageIconAgenda"></img>
        	<div class="secondPageText3">Agenda</div>
        </div>
      </a>
      <a href="#/venue">
    		<div class="gridTwo2">
    			<img src="img/icons/venue-large.png" class="secondPageIconVenue"></img>
    			<div class="secondPageText3">Venue</div>
    		</div>
    	</a>
    </div>
    <div class="gridTwoDown">
      <div class="gridTwo1Down"></div>
      <div class="gridTwo2Down"></div>
    </div>
  </div>  
</div>