    <div class="head">
      <img src="img/testImage.png" class="logoImage"></img>
      <span class="logoText"><span class="color1">JS</span>CHANNEL</span>
      <div class="breakline"></div>
      Bengaluru, 18-19 July,2014
      <div class="breakline"></div>
      Email: name@jschannel.com
    </div>
    
      <ul class="nav nav-tabs col-md-12">
        <li class="active tabs col-md-3" ng-class="{selected : currentTab == 'main'}"><a data-toggle="tab" class="font col-md-12" href="#overview" ng-click="selectTab('overview')">Overview</a></li>
        <li class="tabs  col-md-3" ng-class="{selected : currentTab == 'speaker'}"><a data-toggle="tab" class="font col-md-12" href="#speakers" ng-click="selectTab('speakers')">Speakers</a></li>
        <li class="tabs  col-md-3" ng-class="{selected : currentTab == 'speaker'}"><a data-toggle="tab" class="font col-md-12" href="#agenda" ng-click="selectTab('agenda')">Agenda</a></li>
        <li class="tabs  col-md-3" ng-class="{selected : currentTab == 'speaker'}"><a data-toggle="tab" class="font col-md-12" href="#venue" ng-click="selectTab('venue')">Venue</a></li>
      </ul>
      <div class="breakline"></div>
  
 
<!--<div class='navbar-collapse bs-navbar-collapse'>
    <ul class='nav navbar-nav'>
        <li ng-class="{selected : currentTab == 'main'}"><a href="#/" ng-click="selectTab('main')">Main View</a></li>
        <li ng-class="{selected : currentTab == 'speaker'}"><a href="#/speaker" ng-click="selectTab('speaker')">Speakers</a></li>
    </ul>
</div>-->