   <a href="#view2" class="homepage">   
   <div class="container-fluid">
    <div class="head"> 
      <img src="img/icons/home-logo.png" class="headerIcon"></img>
   </div>
    </div>
   </a>  
    

      <div class="nav-tabs">
        <a data-toggle="tab" href="#overview" ng-click="selectTab('active')"><div class="{{active_overview}} tabs font"><img height="22px"src="img/icons/overview-small.png"></img><div>Overview</div></div></a>

        <a data-toggle="tab" href="#speakers" ng-click="selectTab('speakers')"><div class="{{active_speaker}} tabs font"><img height="22px"src="img/icons/speaker-small.png"></img><div>Speakers</div></div></a>

        <a data-toggle="tab"  href="#agenda" ng-click="selectTab('agenda')"> <div class="{{active_agenda}} tabs font"><img height="22px"src="img/icons/schedule-small.png"></img><div>Agenda</div></div></a>

        <a data-toggle="tab"  href="#venue" ng-click="selectTab('venue')"><div class="{{active_venue}} tabs font"><img height="22px" src="img/icons/venue-small.png"></img><div>Venue</div></div></a>
      </div>
      <div class="breakline"></div>

 </div>
<!--<div class='navbar-collapse bs-navbar-collapse'>
    <ul class='nav navbar-nav'>
        <li ng-class="{selected : currentTab == 'main'}"><a href="#/" ng-click="selectTab('main')">Main View</a></li>
        <li ng-class="{selected : currentTab == 'speaker'}"><a href="#/speaker" ng-click="selectTab('speaker')">Speakers</a></li>
    </ul>
</div>-->