   <div class="container-fluid"> 
    <div class="head">
      <img src="img/icons/icon-large.png" class="headerIcon"></img>
      <div class="headerText">
      <div class="headerLogoDiv"><img src="img/icons/logo-large.png" class="headerLogo"></img></div>
      <div class="breakline"></div>
      <div class="headerText2">Bengaluru, 18-19 July,2014</div>
      <div class="headerText3">Email: name@jschannel.com</div>
    </div>
    </div>

      <div class="nav-tabs">
        <a data-toggle="tab" href="#overview" ng-click="selectTab('active')"><div class="{{active_overview}} tabs font"><img src="img/icons/overview-small.png"></img><div class="breakline"></div><span>Overview</span></div></a>

        <a data-toggle="tab" href="#speakers" ng-click="selectTab('speakers')"><div class="{{active_speaker}} tabs font"><img src="img/icons/speaker-small.png"></img><div class="breakline"></div><span>Speakers</span></div></a>

        <a data-toggle="tab"  href="#agenda" ng-click="selectTab('agenda')"> <div class="{{active_agenda}} tabs font"><img src="img/icons/schedule-small.png"></img><div class="breakline"></div><span>Agenda</span></div></a>

        <a data-toggle="tab"  href="#venue" ng-click="selectTab('venue')"><div class="{{active_venue}} tabs font"><img class="icons" src="img/icons/venue-small.png"></img><div class="breakline"></div><span>Venue</span></div></a>
      </div>
      <div class="breakline"></div>

 </div>
<!--<div class='navbar-collapse bs-navbar-collapse'>
    <ul class='nav navbar-nav'>
        <li ng-class="{selected : currentTab == 'main'}"><a href="#/" ng-click="selectTab('main')">Main View</a></li>
        <li ng-class="{selected : currentTab == 'speaker'}"><a href="#/speaker" ng-click="selectTab('speaker')">Speakers</a></li>
    </ul>
</div>-->