<div ng-include="'partials/navbar.html'"></div>
<div style="height:{{deviceHeight}}px !important;width:{{deviceWidth}}px !important" class="bg_grey">
	<div class="headerMargin">
		<div class="overviewText " ng-repeat="overview in overviews">
			<div class="oheadingOne">{{overview.headingOne}}</div>
			<div class="odate">{{overview.date}}</div>
			<div class="ovenue">{{overview.venue}}</div>
			<div class="oheadingTwo">{{overview.headingTwo}}</div>
			<div class="oparaOne">{{overview.paraOne}}</div>
			<div class="oparaTwo">{{overview.paraTwo}}</div>
			<div class="oparaThree">{{overview.paraThree}}</div>
		</div>
		<div ><img class="overviewImage" src="img/overview-bg.png"></img></div>
	</div>
</div>