<div class="secondPage" >
  <div class="secondPageDiv container">
	
	<div class="secondPageLogoDiv">
  	<div><img src="img/icons/icon-large.png" class="secondPageIcon"></img><img src="img/icons/logo-large.png" class="secondPageLogo"></img></div>
  	<div class="secondPageText"><center> We, the javascript people </center></div>
  </div>

  	<div class="secondPageArrowDiv"><img class="secondPageArrow" src="img/icons/arrow.png" ></img></div>
  	<div class="secondPageText2">
  		<div>Conference 2014</div> 
  		<div>Bengaluru</div> 
  		<div>18-19 July</div>
  	</div>
  	<div class="lineSpace"></div>
  	<div class="lineSpace"></div>
        	<div class="gridOne">
        	<a href="#/overview">
        		<div class="gridOne1">
        			<img src="img/icons/overview-large.png" class="secondPageIcon2"></img>
        			<div class="secondPageText3">Overview</div>
        		</div>
        	</a>
        	<a href="#/speakers">
               <div class="gridOne2">
        			<img src="img/icons/speakers-large.png" class="secondPageIcon2"></img>
        			<div class="secondPageText3">Speakers</div>
        		</div>
        	</a>
        	</div>
  	
    	<div class="gridTwo">
    	<a href="#/agenda">
          <div class="gridTwo1">
          	<img src="img/icons/agenda-large.png" class="secondPageIcon2"></img>
          	<div class="secondPageText3">Agenda</div>
          </div>
      </a>
      <a href="#/venue">
    		<div class="gridTwo2">
    			<img src="img/icons/venue-large.png" class="secondPageIcon2"></img>
    			<div class="secondPageText3">Venue</div>
    		</div>
    	</a>
    	</div>
  </div>  
</div>