<div ng-include="'partials/navbar.html'"></div>
<div class="col-md-12" style=" border-bottom:1px solid #CCCCCC;padding-bottom:2.5%" ng-repeat="speaker in speakers">
	<div class="col-md-5">
		<div class="breakline"></div>
		<div class="breakline"></div>
		<div class="breakline"></div>
		<img src="img/{{speaker.image}}.jpg"></img>
	</div>
	<div class="col-md-7">
		<div>
			<h3>{{speaker.name}}</h3>
		</div>
		<div style="font-size:16px">
			{{speaker.known_for}}
		</div>
		<div style="font-size:16px">
			Speaks on "{{speaker.topic}}"
		</div>
		<div class="breakline">
		</div>
		<div class="default_content" ng-class="{'content':$index==selectedIndex}">
			{{speaker.description}}
		</div>
		<a ng-show="expand" ng-model="check" ng-click="check_expand($index)">
			<div style="padding-top:2%" ng-if="toggle[$index]">
				<span>See less</span><div class="glyphicon glyphicon-chevron-down"></div>
			</div>
			<div style="padding-top:2%" ng-if="!toggle[$index]">
				<span>See more</span><div class="glyphicon glyphicon-chevron-left" ></div>
			</div>
		</a>	
	</div>	

	

</div>