<div ng-include="'partials/navbar.html'" ></div>
<div class="headerMargin">
<div class="sdArrowDiv ">
		<div class="sdArrowSubDiv">	
		 <a href="#speakers">
			<img id="aHeadLeftIcon" src="img/icons/back-arrow.png"/>
		</a>
		</div>
		<div class="text_align">Speaker Profile</div>		
</div>

<div class="aBody aBodyMarginLeft">

	<div class="speakerImageDivLeft">
		<img class="sdImage" src="img/{{speakerDetail.image}}"></img>
	</div>
	<div class="speakerImageDivRight">
		<div><h5>{{speakerDetail.name}}</h5><h6 class="font_color">{{speakerDetail.known_for}}</h6></div >
		<!--<a ng-click="openLinkedIn()" href="#linkedin"><img height="22px"src="img/icons/linkedin-icon.png"></img></a>
		<a ng-click="openTwitter()" href="#twitter"><img height="22px"src="img/icons/twitter-logo.png"></img></a>-->
		<div class="breakline"></div>
		<div>
			<div><h6 class="font_color"><b>SESSION</b></h6></div >
			<a href="#speakerDetail" ng-click="showSpeakerDetails({{speakerDetail.name}})"><div><h6 style="color:#399DE8"><img class="speakerTopicImage" src="img/icons/mic-icon.png"></img>   "{{speakerDetail.topic}}"</h6></div ></a>
		</div>
		<div class="breakline"></div>
		<div class="breakline"></div>
		<div>
			<div><h6 class="font_color"><b>DATE & TIME</b></h6></div>
			<div class="DTText" >
					<div id="aIcon" class="glyphicon glyphicon-calendar"></div>
						<div class="aText">
						{{speakerDetail.day}}, {{speakerDetail.dd}} {{speakerDetail.mon}} {{speakerDetail.yyyy}}
						</div>
					</div>
				<div class="DTText">
					<div id="aIcon" class="glyphicon glyphicon-time"></div>
					<div class="aText">{{speakerDetail.startTime}}-{{speakerDetail.endTime}}</div>
				</div>
				<div  class="DTText">
					<div id="aIcon" class="glyphicon glyphicon-map-marker"></div>
					<div class="aText">{{speakerDetail.venue}}</div>
				</div>
		</div>
	</div>
</div>
<div class="aBody aBodyMarginTopBot aBodyMarginLeft">
	<div class="font_color">
		<h6><b>ABOUT SPEAKER</b></h6>
	</div>
	<div class="font_color">
		<h6>{{speakerDetail.description}}</h6>
	</div>
</div>

</div>