<div ng-include="'partials/navbar.html'"></div>
<div class="headerMargin loading" ng-class="{loaded:loads=='loaded'}">
	<div class="speakerBreakline"></div>
	<div class="container-fluid speakerBorder" ng-repeat="speaker in speakers" >
	    <a class="speakerMainDiv" href="#/speakerinfo" ng-click="speakerIndex($index)">
			<div class="speakerDiv">
				<img class="speaker_image" src="img/speakers/{{speaker.image}}"></img>
			</div>
		
			<div class="glyphChevronRight">
				<img height="20px" width="15px" src="img/icons/right-arrow.png"></img>
			</div>
			<div class="speakerInfo">
				<div>
				    <h4>{{speaker.name}}</h4>
				</div>
				<div class="font_size font_color2">{{speaker.known_for}}</div>
				<div class="font_color">
					<h6>
						<img class="mic-float" height="15px" width="10px" src="img/icons/mic-icon.png"></img>
						<div class="mic-padding">Speaks on "{{speaker.topic}}"</div>
					</h6> 
				</div>
			</div>	
		</a>
	</div>
</div>
<div class="foot" ng-include="'partials/footer.html'"></div>
