<div ng-include="'partials/navbar.html'"></div>
<div class="headerMargin">
<div class="speakerBreakline"></div>
<div class="container-fluid speakerBorder" ng-repeat="speaker in speakers" >
	 <a class="speakerMainDiv" href="#speakerinfo" ng-click="speakerIndex($index)">
		<div class="speakerDiv">
			<!--<div class="breakline"></div>-->
			<img class="speaker_image" src="img/{{speaker.image}}"></img>
		</div>
		
			<div class="glyphChevronRight">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</div>
				<div class="speakerInfo">
					<div>
						<h4>{{speaker.name}}</h4>
					</div>
					
					<div class="font_size font_color">
						{{speaker.known_for}}
					</div>
					<div class="font_color">
						<h6>Speaks on "{{speaker.topic}}" topic on {{speaker.dd}}/{{speaker.mon}}/{{speaker.yy}} at {{speaker.startTime}}</h6>
					</div>
				</div>	
	</a>
		
	
	

</div>
</div>
<!-- <div class="footerMargin"></div> -->
<div class="foot" ng-include="'partials/footer.html'"></div>
<!--
<div class="col-md-8">
		<div>
			<h3>{{speaker.name}}</h3>
		</div>
		<div class="font_size">
			{{speaker.known_for}}
		</div>
		<div class="font_size">
			Speaks on "{{speaker.topic}}"
		</div>
		<div class="breakline">
		</div>
		<div class="content" style="font-size:16px" ng-if="class_toggle[$index]">
			{{speaker.description}}
		</div>
		<div class="default_content" style="font-size:16px" ng-if="!class_toggle[$index]">
			{{speaker.description}}
		</div>
		<div style="width:90px;padding-top:2%;padding-left:0">
			<a ng-model="check" ng-click="check_expand($index)">
				<div  ng-if="toggle[$index]">
					<span style="font-size:16px">See less</span><div class="glyphicon glyphicon-chevron-up"></div>
				</div>
				<div style="padding-top:2%" ng-if="!toggle[$index]">
					<span style="font-size:16px">See more</span><div class="glyphicon glyphicon-chevron-down" ></div>
				</div>
			</a>
		</div>	
	</div>	
	-->