/* app css stylesheet */
.tabs
{
  border:1px solid black;
  background-color: #CCCCCC;
  height: 60px !important; 
  text-align: center;
  width:25% !important;
  float:left;
  padding-top: 1px; 
 text-align: center;
}
div.active,div > a.active:hover,div.active > a,div.active > a:hover
{
  background-color: #5BA3D8 !important; 
  color:white !important;
}

a.active,a
{
  border:none !important;
  color:#428BCA;
}
.font
{
  color:white !important;
  text-align: center !important;
  font-size:100%;
  margin:0 !important;
}
div >a:hover
{
  background-color: #CCCCCC !important ;
  border-color: #CCCCCC !important;
}
.speaker_image
{
  border:1px solid #CCCCCC !important;
  height:180px !important;
  width:180px !important;
}
.default_content
{
  color:#A0A0A0 !important;
  height:40px;
  overflow:hidden ;
}
.content
{
  color:#A0A0A0 !important;
  height:auto;
}
a:hover
{
  text-decoration: none !important;
}
.breakline
{
  padding-top:3%;
}
/*.horizontal_line
{
  margin-top:1.5%;
  border:1px solid #CCCCCC;
  margin-left:2%;
  margin-right:2%;
  position: relative;
}*/
.nav-tabs
{
  border:none !important;
}

/*Twinkle's*/



.head{
  height: 20%;
  background-color: #190F0D;
  color: #FFFFFF;
  text-align: center;
  padding: 2% 2% 2% 2%;
}

.headerText{

  display: inline;
}
.headerText2{
  margin-left: 6%;
  margin-top: -3%;
  
}
.headerText3{
  margin-left: 7%;

 
}
.logoImage{
max-width:6% ;
max-height:6% ;


}

.headerLogo{
width:40%;
}

.headerLogoDiv{
  display:inline;
  width: 50%;
  height: 50%;
}

.color1{
  color:#73A7BD;
}

.overviewText{
  max-height:50%;
  color: #888888;
  font-size:120%;
}


.divider{
max-width: 100%;
  height: 0;
  border-bottom: 20px solid #E1CB57;
  border-left: 700px solid transparent;
}
.agendaTitleDiv{

}

.agendaTitle{
  text-align: center;
font-size: 2em;
color:#444444;
margin-top: 2%;
margin-bottom: 2%;
}

.agendaSmallDiv{

padding: 3% 3% 3% 3%;

}

.borderDiv{
 border-bottom: 2px solid #CCCCCC;
 width:98%;
 margin-left:1%; 
}

.agendaSessionTime{
color:#818181;

}

.agendaSessionTitle{
font-size: 1.5em;
color:#444444;

}

.agendaSpeakerName{
  display: inline;
font-weight: bold;
color:#D35400;
}

.com{
  display:inline;
  font-weight: bold;
color:#D35400;
}

.agendaSpeakerTitle{
   display: inline;

color:#818181;
}

.agendaSessionDetail{

margin-top: 0%;
color:#818181;
}

.glyphicon-chevron-right{
  color:#CCCCCC;
}

.glyphicon-chevron-left{
  color:#CCCCCC;
}
.font_size
{
  font-size: 20px;
}
.speakerBorder
{
  border-bottom:1px solid #CCCCCC !important;
  padding-bottom:2.5% !important;
  width:96% !important;
  margin-left:2% !important;
}
/*Latest css*/

.landingPage{
   background: url('../img/background.png');
    text-align: center;
    vertical-align: center;
    padding: 20% 10% 40% 10%;
}

.secondPage{
   background: url('../img/background.png');
   padding: 20% 10% 20% 10%;  
}

.landingPageIcon{
  height:40%;
  width:40%;

}

.landingPageLogo{
  height:50%;
  width:80%;

}

.landingPageText{
  color:#FFFFFF;
  display: inline;
  font-size:125%;
  
  
}

.blue{
  color:#73A7BD;
  display:inline;
}

a:link{
  text-decoration:none;
}

.secondPageIcon{
  height:30%;
  width:20%;
  display: inline;
  float: left;

}

.secondPageLogo{
  height:50%;
  width:70%;
  display: inline;

}

.secondPageText{
  color:#FFFFFF;
  margin-right: 10%;
  font-size:130%;

  
}

.secondPageLogoDiv{
  
  margin-left: 10%;
}

.secondPageArrow{
  margin-top: 2%;
  vertical-align: middle;
  padding-left: 25%;
}

.secondPageText2{
  text-align: center;
  color:#FFFFFF;
  font-size:280%;
  
}

.gridOne{

width:200px;
text-align: center;
margin: 0px auto;



}

.gridOne1{
  
float:left;
 height:75px;
  width:75px;
  background-color: #3498DB;
  margin:0px auto;
  text-align: center;
}

.gridOne2{
display: inline-block;
height: 75px;
width: 75px;

background-color: #1ABC9C;
text-align: center;
}

.gridTwo{
width:200px;
margin: 0px auto;
text-align: center;
}

.gridTwo1{

float:left;
 height:75px;
  width:75px;
  background-color: #27AE60;
  text-align: center;
  
}

.gridTwo2{
display: inline-block;
height: 75px;
width: 75px;

background-color: #F1C40F;
text-align: center;
}

.lineSpace{
  width: 2%;
  height: 2%;
}

.secondPageText3{
  color:#FFFFFF;
  font-size:100%;
}

.secondPageIcon2{
 margin-top: 5%;
 padding:1% 1% 1% 1%;
 width:50px;
 max-width:100%;
 height: 50px;


}

.homepage:hover
{
  color:transparent !important;
 background-color:transparent !important;
}
.container-fluid
{
  padding-left:0px !important;
  padding-right: 0px !important;
}
.headerIcon
{
  height:10%;
  width:10%;
  padding-left:0px;
}
body{
  orient:"portrait";
}