/* app css stylesheet */
.tabs
{
  border-right:1px solid white;
  background-color: #CCCCCC;
  height: 55px !important; 
  text-align: center;
  width:25% !important;
  float:left;
  padding-top: 10px; 
 text-align: center;
}
div.active,div > a.active:hover,div.active > a,div.active > a:hover
{
  background-color: #5BA3D8 !important; 
  color:white !important;
}

a.active,a
{
  border:none !important;
  color:#428BCA;
}
.font
{
  color:white !important;
  text-align: center !important;
  font-size:100%;
  position:relative;
}
div >a:hover
{
  background-color: #CCCCCC !important ;
  border-color: #CCCCCC !important;
}
.speaker_image
{
  border:1px solid #CCCCCC !important;
  height:80px !important;
  width:80px !important;
  margin-left:10%;
  margin-top:7%;
}
.default_content
{
  color:#A0A0A0 !important;
  height:40px;
  overflow:hidden ;
}
.content
{
  color:#A0A0A0 !important;
  height:auto;
}
a:hover
{
  text-decoration: none !important;
}
.breakline
{
  padding-top:3%;
}
/*.horizontal_line
{
  margin-top:1.5%;
  border:1px solid #CCCCCC;
  margin-left:2%;
  margin-right:2%;
  position: relative;
}*/
.nav-tabs
{
  border:none !important;
}

/*Twinkle's*/



.head {
  height: 20%;
  background:url('../img/background.png');
  color: #FFFFFF;
  text-align: center;
  padding: 2% 2% 2% 2%;
}

.headerText{

  display: inline;
}
.headerText2{
  margin-left: 10%;
  margin-top: -3%;
  color:white;
  
}
.headerText3{
  margin-left: 7%;

 
}
.logoImage{
max-width:6% ;
max-height:6% ;


}

.headerLogo{

width:140px;
}

.headerLogoDiv{
  display:inline;
  width: 50%;
  height: 50%;
}

.color1{
  color:#73A7BD;
}

.overview
{
  padding:0px !important;
}
.overviewImage
{
  width:100%;
  height:100%;
  position:relative;
}
.overviewText{
  max-height:50%;
  color: #888888;
  font-size:100%;
}


.divider{
max-width: 100%;
  height: 0;
  border-bottom: 20px solid #E1CB57;
  border-left: 700px solid transparent;
}
.agendaTitleDiv{
background-color: #F4F4F4;
padding: 1% 1% 1% 1%;
}

.agendaTitle{
  text-align: center;
font-size: 15px;
color:#444444;
margin-top: 2%;
margin-bottom: 2%;
}

.agendaSmallDiv{

padding: 1% 1% 1% 1%;
border:1px solid #DBDBDB;
background-color: #FFFFFF;

}

.borderDiv{
 border-bottom: 2px solid #CCCCCC;
 width:98%;
 margin-left:1%; 
}

.agendaSessionTime{
color:#818181;
display: inline;


}

.agendaSessionTitle{

margin-top: 20px;
}
.agendaSessionText{
  font-size: 15px;
color:#444444;
display: inline;
}

#agendaSessionRightIcon{
  color:#8C8C8C;
  font-size: 15px;
  display: inline;
float:right;
}

.agendaSpeakerName{
  display: inline;

color:#FFA03E;
}

.com{
  display:inline;
  
color:#FFA03E;
}

.agendaSpeakerTitle{
   display: inline;

color:#818181;
}

.agendaSessionDetail{

margin-top: 0%;
color:#818181;
}

.glyphicon-chevron-right{
  color:#CCCCCC;
}

.glyphicon-chevron-left{
  color:#CCCCCC;
}
.font_size
{
  font-size: 15px;
}
.font_color
{
    color:#888888;
}
.speakerBorder
{
  border:1px solid #CCCCCC !important;
  background-color: white;
  margin-top: 2%;
  padding-bottom:1%;
}


/*Latest css*/

.landingPage{
   background: url('../img/background.png');
    text-align: center;
    vertical-align: center;
    padding: 20% 10% 40% 10%;
}

.secondPage{
   background: url('../img/background.png');
   padding: 20% 0% 20% 0%; 
   margin:auto;
}

.landingPageIcon{
  height:50px;
  width:75px;
  margin:auto;
}

.landingPageLogo{
  height:50px;
  width:140px;
  margin:auto;
}

.landingPageText{
  color:#FFFFFF;
  display: inline;
  font-size:100%;
}

.blue{
  color:#73A7BD;
  display:inline;
}

a:link{
  text-decoration:none;
}

.secondPageDiv
{
  width:280px !important;
  margin: auto;
}

.secondPageLogoDiv{
  width:300px;
}

.secondPageIconLogo {
height: 65px;
width: 260px;
padding-right: 3%;
margin: auto;
display: inline;
}

.secondPageArrowDiv{
      width:20%; 
      margin:auto; 
}

.secondPageArrow{
  height:100px;
  margin-left:10px;

}

.secondPageText2{
  text-align: center;
  color:#FFFFFF;
  font-size:150%;
  margin:auto;
  padding-bottom: 15px;
  
}

.gridOne{

width:200px;
text-align: center;
margin-left:33px;
}

.gridOne1 {
float: left;
height: 85px;
width: 85px;
background-color: #3498DB;
margin: 0px auto;
text-align: center;
padding: 22px 6px 6px 6px;
}

.gridOne2 {
display: inline-block;
height: 85px;
width: 85px;
background-color: #1ABC9C;
text-align: center;
padding: 12px 6px 6px 6px;
}

.gridTwo{
width:200px;
margin: 15px auto;
text-align: center;
margin-left:33px;
}

.gridTwo1 {
float: left;
height: 85px;
width: 85px;
background-color: #27AE60;
text-align: center;
padding: 13px 6px 6px 6px;
}

.gridTwo2 {
display: inline-block;
height: 85px;
width: 85px;
background-color: #F1C40F;
text-align: center;
padding: 8px 6px 6px 6px;
}
.lineSpace{
  width: 2%;
  height: 2%;
}

.secondPageText3{
  color:#FFFFFF;
  font-size:100%;
}

.secondPageIconOverview{
width: 50px;
height: 25px;
/* padding: 2px 2px 2px 2px; */
margin-bottom: 2px;
}

.secondPageIconSpeakers {
height: 35px;
margin-bottom: 2px;
}

.secondPageIconAgenda {
height: 35px;
margin-bottom: 2px;
}

.secondPageIconVenue {
width: 35px;
margin-bottom: 2px;
}

.secondPageLogoDiv{
margin:auto;
}

.homepage
{
  text-decoration:none;
}
.homepage:hover
{
  color:transparent !important;
 background-color:transparent !important;
}
.container-fluid
{
  padding-left:0px !important;
  padding-right: 0px !important;
}

.headerIcon {
height: 80px;
width: 250px;
/* padding-left: 0px; */
/* margin: auto; */
}

.agendaStartTime{
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}

#agendaSessionIcon{
  color:#818181;
  display: inline;
  font-size: 9px;
}

.agendaTime{
  
  display: inline;
}

.agendaVenue{
  display: inline;
  float:right;
}

.agendaVenueText{
  display: inline;
  color:#8C8C8C;
  font-size: 12px;
}

#agendaVenueIcon{
  color:#8C8C8C;
  font-size: 12px;
  display: inline;
}
.aMain{
  background-color:#F4F4F4 ;
  padding:1% 1% 1% 1% ;
  text-align: center;
}

.aHeadText{
  text-align: center;
  display: inline;
  color:#2E2E2E;
  font-size: 18px;
}
.aHead{
  height:40px;
}

#aHeadLeftIcon{
  float:left;
  font-size: 22px;
  color:#D1D1D1;
 padding: 3px 3px 3px 3px;
}

.aBody{
  background-color: #FFFFFF;
  border:1px solid #E4E4E4;
  display: inline-block;
  width:95%;
  padding:2% 2% 2% 2%;
  margin-left:2%;
  margin-top:2%;
  margin-bottom:2%;
}

.DateTime{
display:inline;
float:left;
}

.Speaker {
    display: inline;
    float: right;
    width: 40%;
    height: 50%;
}

.aText{
display: inline;
   font-size: 11px;
   color:#909090;
}

#aIcon{
  display: inline;
   font-size: 12px;
  color:#969696;
  /*float: left;*/
  margin-right: 2px;
  padding-top:3px;
}

.aText2{
   font-size: 12px;
   color:#909090;
   margin-bottom: 10px;
   font-weight: bold;
   text-align: left;

}

.aText4 {
    font-size: 12px;
    color: #909090;
    margin-bottom: 10px;
    width: 90%;
    text-align: left;
    font-weight: bold;
    margin-left: 10%;
    float: right;
}
.aImage {
    max-height: 100%;
    height: 100px;
    width: 100px;
    right: 0px;
    float: right;


}

.aImageText {
    bottom: 0px;
    z-index: 100;
    position: absolute;
    background-color: #000;
    color: #FFF;
    padding: 0%;
    right:0px;
    width: 100px;
    opacity: 0.7;
    font-size: 10px;
    font-weight: bold;
}

.aBodyLower{
  margin-top: 20px;
  position: relative;
  height:60%;
  display: inline-block;
  width: 100%;
  text-align: left;
}

.aText3{
  color:#949494;
  font-size:11px;

}

.aBodyUpper{
  display: inline-block;
  width: 100%;
  position: relative;
  height: 40%;

}

.DTText{
  text-align: left;
}

.ImageDiv{
  width:90%;
  height: 90%;
  float: right;
}
/**/

.sdImageDiv
{
  float:left;
  width:50%;  
}
.sdImage
{
    max-height: 100px;
    height: 120px;
    width: 110px;
    left: 0px;
}

.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    outline: none;
    border:none;
    color:inherit;
}
 a:target{
   display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    outline: none;
     border:none;
  color:inherit;
 }

 /* speakerDetail.html css */

 .sdArrow
 {
  padding-bottom:25px;
 }

.sdArrowDiv
{
  width:5%;
  padding-left:5%;
  margin-top:30px;
}

.speakerDetailDiv
{
  float:left;
  width:50%;
}
.speakerTopicColor
{
  color:#399DE8;
}
.speakerTopicImage
{
  height:22px;
}